*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

nav, li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
}

header img{
    width: 200px;
}

header nav{
    display: flex;
}

header li a{
    color: #191c03;
}

header li{
    margin: 0px 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child{
    margin-right: 0;
}

@media (max-width: 700px){
    header {flex-direction: column;}
    header img {margin-bottom: 15px;}
}

.contatos{
    width: 100%;
    margin-top: 100px;
    padding: 20px 50px;
    background-color: #191c03;
    color: #fff;
}

.contatos h1{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.contatos hr{
    width: 600px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 25px;
    border: none;
    margin-left: 420px;
    margin-top: 25px;
}

.contatos p {
    margin: 20px;
    margin-bottom: 29px;  
}

.contatos ul {
    padding: 0;
}

.contatos li {
    margin-bottom: 10px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #83853e;
    padding: 38px 38px;
    align-items: center;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
}

footer ul li{
    margin-right: 10px;
}

footer ul li:last-child{
    margin-right: 0;
}

footer ul li a{
    color: #c3c63b;
    font-size: 2rem;  
}

footer ul li a img{
    width: 30px;
}

footer p{
    color: #fff;
    text-align: center;
}